extends ../layout.pug

block content 
    div 
        if products.length 
            ul 
                each product in products 
                    div 
                        li 
                           p #{product.title} (#{product.qty})
                           form(method="POST" action="/cart-delete-item")
                             input(type="hidden" name="productId" value=product.id)   
                             button.btn(type="submit") Delete Item
        else 
            h No Products in Cart!